include ../../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('note-widget')
    +e('wrapper', { t: 'form' })(@submit.prevent="saveItem")
        +e('header')
            +e('title-placeholder')(v-show="!noteTitle") Заголовок заметки
            +e('title', { t: 'input' })(type='text' v-model="noteTitle" :readonly="status === 'readonly'" @blur="updateStack" @input="getSavePermission(-1)")
        +e('spoiler')(ref="spoiler" :class="{ 'note-widget__spoiler_view-short': status === 'readonly' }")
            +e('list', { t: 'ul' })(ref="list" :class="{'note-widget__list_view-readonly': status === 'readonly'}")
                li(v-for="(el, i) in todosList" :key="el.key")
                    +e('item-placeholder', { t: 'div' })(v-show="!el.text && !getItemStatus(i)") Начните вводить здесь
                    +e('item-check', { t: 'div' })(
                        v-show="getItemStatus(i)"
                        @click="checkItem($event, i)"
                        role="checkbox"
                        :aria-checked="el.checked",
                        :disabled="status === 'readonly'"
                        )
                    +e('item', { t: 'div' })(
                        role="textbox"
                        :contenteditable="status !== 'readonly'"
                        aria-multiline="true"
                        @input="handleItem($event, i)"
                        @blur="updateItem($event, i)"
                        :class="{ 'state_checked': el.checked }"
                        ) {{ el.text }}
                    +e('item-remove', { t: 'button' })(
                        v-if="status !== 'readonly' ? getItemStatus(i) : false"
                        @click="removeItem(i, true)"
                        type="button"
                        )
                        img(src="/assets/icons/close_icon.svg" alt="")
        +e('controls')
            template(v-if="status === 'readonly'")
                +e('button', { t: 'brand-button', m: 'target-spoiler'  })(icon="/assets/icons/arrow_icon.svg" :disabled="todosList.length < 4" @click="exploreList" :class="{'state_active': isSpoilerExplored}")
                +e('button', { t: 'brand-button' })(title="Редактировать" icon="/assets/icons/save_icon.svg" :href="'/details/' + data.id")
                +e('button', { t: 'brand-button' })(title="Удалить" icon="/assets/icons/close_white_icon.svg" @click="showModal")
            template(v-else="")
                +e('button', { t: 'brand-button' })(title="Сохранить" type="submit" icon="/assets/icons/save_icon.svg" :disabled="!isSaveGranted")
                +e('button', { t: 'brand-button' })(title="Отменить" icon="/assets/icons/close_white_icon.svg" @click="cancelItem")
                +e('button', { t: 'brand-button' })(v-if="status === 'extended'" title="Удалить" icon="/assets/icons/close_white_icon.svg" @click="showModal")
                +e('actions')
                    +e('button', { t: 'brand-button'})(icon="/assets/icons/undo_icon.svg" @click="stepBefore" :disabled="stackId <= 0")
                    +e('button', { t: 'brand-button'})(icon="/assets/icons/redo_icon.svg" @click="stepAfter" :disabled="stackId < 0 || !(stack.length > 1 && stackId !== stack.length - 1)")
        +e('dialog', { t: 'dialog' })(ref="dialog" class="state_hidden")
            p Вы уверены, что хотите удалить заметку?
            +e('dialog-controls')
                +e('button', { t: 'brand-button' })(title="Удалить" icon="/assets/icons/save_icon.svg" @click="deleteNote")
                +e('button', { t: 'brand-button' })(title="Отменить" icon="/assets/icons/close_white_icon.svg" @click="$refs.dialog.close()")
