.details {
  $self: &;

  flex-grow: 1;

  &__container {
    padding-top: 65px;
    padding-bottom: 65px;

    @include container();
  }

  &__row {
    @include row-flex();
  }

  &__widget {
    @include col();
    @include size(12);
  }

  &__note {
    @include col();
    @include size(12);
  }

  &__attention {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
}
