.page {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 100vh;

  &__title {
    margin-bottom: 36px;

    @include col();
    @include size(12);

    font-weight: 600;
    font-size: 22px;
  }
}
