include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('home')
    +e('container')
        +e('note-add', { t: 'brand-button' })(title="Добавить заметку" :mods="{action: 'add'}" href="/details")
        +e('wrapper')(v-if="list.length")
            +e('widget', { t: 'note-widget' })(v-for="(el, i) in list" :key="el.id" :data="el")
        +e('attention')(v-else="") Нет добавленных заметок
